/* :host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  } */
  /* .rightcomponent{
    width: 150%;
    justify-content: stretch;
  }
  .savebutton{
    width: 100%;
  } */