<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<!-- <mat-card class="w-75">
    <input type="text" placeholder="Enter Text Here..." class="w-50">
    <button class="btn btn-outline-primary"><span class="material-icons">
      delete
      </span></button>
      <span class="material-icons">
        edit
        </span>
        <span class="material-icons">
          arrow_upward
          </span>
          <span class="material-icons">
            arrow_downward
            </span>
</mat-card> -->
<!-- <app-lcomponent></app-lcomponent> -->
<!-- <app-ccomponent></app-ccomponent> -->
<!-- <app-rcomponent></app-rcomponent> -->
<div class="container d-flex justify-content-evenly">
  <div class="col-md-3">
    <app-lcomponent></app-lcomponent>
  </div>
  <div class="col-md-6">
    <app-ccomponent></app-ccomponent>
  </div>
  <div class="col-md-3">
    <app-rcomponent></app-rcomponent>
  </div>
</div>
