<div class="leftComponent py-2 px-2">
  <mat-card
    *ngFor="let opt of dragOpts"
    class="matcard d-flex align-items-center mt-4"
  >
    <span class="material-icons"> drag_indicator </span>
    <span class="material-icons"> {{ opt.icon }} </span>
    <label class="ms-3">{{ opt.txt }}</label>
  </mat-card>
  <!-- <mat-card class="matcard">
    <span class="material-icons"> drag_indicator </span>
    <span class="material-icons"> checklist </span>&nbsp;&nbsp; MS Dropdown </mat-card
  ><br />
  <mat-card class="matcard">
    <span class="material-icons"> drag_indicator </span>
    <span class="material-icons"> calendar_today </span>&nbsp;&nbsp; Date & Time </mat-card
  ><br />
  <mat-card class="matcard">
    <span class="material-icons"> drag_indicator </span>
    <span class="material-icons"> radio_button_checked </span>&nbsp;&nbsp; Radio </mat-card
  ><br />
  <mat-card class="matcard">
    <span class="material-icons"> drag_indicator </span>
    <span class="material-icons"> list_alt </span>&nbsp;&nbsp; Checklist </mat-card
  ><br />
  <mat-card class="matcard">
    <span class="material-icons"> drag_indicator </span>
    <span class="material-icons"> table_view </span>&nbsp;&nbsp; Table </mat-card
  ><br />
  <mat-card class="matcard">
    <span class="material-icons"> drag_indicator </span>
    <span class="material-icons"> text_fields </span>&nbsp;&nbsp; Breif Text </mat-card
  ><br />
  <mat-card class="matcard">
    <span class="material-icons"> drag_indicator </span>
    <span class="material-icons"> toggle_on </span>&nbsp;&nbsp; Toggle Button </mat-card
  ><br />
  <mat-card class="matcard">
    <span class="material-icons"> drag_indicator </span>
    <span class="material-icons"> today </span>&nbsp;&nbsp; Date </mat-card
  ><br />
  <mat-card class="matcard">
    <span class="material-icons"> drag_indicator </span>
    <span class="material-icons"> expand_more </span>&nbsp;&nbsp; Dropdown </mat-card
  ><br />
  <mat-card class="matcard">
    <span class="material-icons"> drag_indicator </span>
    <span class="material-icons"> attach_file </span>&nbsp;&nbsp; Attach </mat-card
  ><br />
  <mat-card class="matcard">
    <span class="material-icons"> drag_indicator </span>
    <span class="material-icons"> language </span>&nbsp;&nbsp; Country </mat-card
  ><br />
  <mat-card class="matcard">
    <span class="material-icons"> drag_indicator </span>
    <span class="material-icons"> map </span>&nbsp;&nbsp; State </mat-card
  ><br />
  <mat-card class="matcard">
    <span class="material-icons"> drag_indicator </span>
    <span class="material-icons"> business </span>&nbsp;&nbsp; City </mat-card
  ><br />
  <mat-card class="matcard">
    <span class="material-icons"> drag_indicator </span>
    <span class="material-icons"> piano </span>&nbsp;&nbsp; COM </mat-card
  ><br />
  <mat-card class="matcard">
    <span class="material-icons"> drag_indicator </span>
    <span class="material-icons"> calculate </span>&nbsp;&nbsp; Calculated Field </mat-card
  ><br /> -->
</div>
